@{
    ViewBag.Title = "Home Page";
}
<div>
    @Html.Action("Timeline")
</div>


@*<div>Please connect to Twitter with your consumer key</div>
@using (Html.BeginForm())
{
    <input type="text" name="consumerKey" />
    <input type="text" name="consumerKeySecret" />
    <input type="text" name="accessToken" />
    <input type="text" name="accessTokenSecret" />
    <input type="submit" name="submitCreds" value="Connect to Twitter" />
    <h3>@ViewBag.Message</h3>
}*@
